Arvis/Arvis3/XML/video.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="video">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="frame" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="roi" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="no" use="optional"/>
                      <xs:attribute type="xs:int" name="x" use="optional"/>
                      <xs:attribute type="xs:int" name="y" use="optional"/>
                      <xs:attribute type="xs:int" name="w" use="optional"/>
                      <xs:attribute type="xs:int" name="h" use="optional"/>
                      <xs:attribute type="xs:float" name="weight" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="no" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="algorithm"/>
    </xs:complexType>
  </xs:element>
</xs:schema>